.profile {
  padding-top: 74px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin-bottom: 123px;
  margin-top: 0;
}

.profile__data {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.profile__item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 16px;
  margin-bottom: 17px;
  gap: 147px;
}

.profile__item:last-of-type {
  margin-bottom: 220px;
  border-bottom: none;
  padding-bottom: 0;
}

.profile__item:focus-within {
  outline: solid #32a1ce;
}

.profile__item:last-of-type:focus-within {
  padding-bottom: 16px;
}

.profile__input {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  min-width: 122px;
  text-align: right;
  border: none;
}

.profile__input:focus {
  outline: none;
}

.profile__label {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  width: 141px;
}

.profile__message-save {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 13px;
  position: absolute;
  top: 60%
}

.profile__button {
  background: none;
	border: none;
	padding: 0;
	cursor: pointer;
  font-style: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
}

.profile__button:hover {
  opacity: 0.7;
}

.profile__edit {
  font-weight: 400;
  margin-bottom: 16px;
  margin-top: 0;
}

.profile__exit {
  font-weight: 500;
  color: #FF4062;
}

.profile__button-save {
  width: 100%;
  background-color: #000;
  padding-left: 167px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 168px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  cursor: pointer;
}

.profile__button-save:disabled {
  opacity: 0.5;
}

.profile__button-save:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1000px) {
  .profile {
    padding-top: 236px;
    padding-bottom: 269px;
  }

  .profile__title {
    margin-bottom: 96px;
  }

  .profile__item:last-of-type {
    margin-bottom: 210px;
  }
}

@media screen and (max-width: 665px) {
  .profile {
    padding-top: 70px;
    padding-bottom: 40px;
  }

  .profile__title {
    margin-bottom: 80px;
  }

  .profile__item {
    gap: 10px;
  }

  .profile__item:last-of-type {
    margin-bottom: 379px;
  }

  .profile__label {
    width: 130px;
  }

  .profile__input {
    min-width: 120px;
  }

  .profile__button {
    font-size: 12px;
    line-height: 15px;
  }

  .profile__button-save {
    padding-left: 100px;
  }
}

