.footer {
  margin-top: 79px;
  margin-left: 70px;
  margin-right: 70px;
}

.footer__title {
  padding-bottom: 20px;
  border-bottom: 1px solid #E8E8E8;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #A0A0A0;
  margin: 0;
}

.footer__text {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer__date {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin: 0;
}

.footer__links {
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin: 0;
}

.footer__link {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
}

.footer__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 1000px) {
  .footer {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media screen and (max-width: 665px) {
  .footer {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
  }

  .footer__title {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__text {
    flex-direction: column-reverse;
    margin: 0;
    gap: 30px;
  }

  .footer__links {
    flex-direction: column;
    text-align: center;
    padding: 0;
    gap: 12px;
    margin-top: 30px;
  }

  .footer__date {
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    color: #A0A0A0;
  }

  .footer__link {
    font-size: 12px;
    line-height: 15px;
  }
}

